<h1> Add a character </h1>

<%= form_for @character do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :house_name %>
<select name="character[house_id]">
    <% @houses.each do |house| %>
        <%= options_for_select([[house.name, house.id]]) %>
    <% end %>
</select>

<%= f.label :img_url %>
<%= f.text_field :img_url %>

<%= f.submit %>

<% end %>

